{% extends 'crypto/base.html'%}

{% block body_block %}

<!--
{% for key,value in price.DISPLAY.items %}
  <strong>Name:</strong>{{key}} <br>
  <strong>Price:</strong>{{ value.USD.PRICE}} <br>
  <strong>Daily High:</strong>{{ value.USD.HIGHDAY}} <br>
  <strong>Daily Low:</strong>{{ value.USD.LOWDAY}} <br>
  <strong>Market Cap:</strong>{{ value.USD.MKTCAP}} <br>
  <hr>
{% endfor %} -->


<!--
<br>
<br>
{{price.DISPLAY}} -->


          <div class="jumbotron home-jumbotron">
              <h1 class="display-4">Crypto Village</h1>
              <h2>A simple application that:</h2>
                <ul>
                  <li><h4>Automatically generates the latest blockchain & cryptocurrency articles from third party news sources</h4></li>
                  <li><h4>Provides daily-updated prices on well-known crypto currencies using API calls</h4></li>
                  <li><h4>Built with Django, Python, Javascript and others</h4></li>
                </ul>
          </div>

      <br><br>
      <div class="container">
          <h1 class="text-center"><strong>LATEST CRYPTO CURRENCY PRICES</strong></h1>
      </div>
      <br>


      <div class = "container-fluid">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"><h3>Name</h3></th>
                <th scope="col"><h3>Price</h3></th>
                <th scope="col"><h3>Intraday High</h3></th>
                <th scope="col"><h3>Intraday Low</h3></th>
                <th scope="col"><h3>Market Cap<h3></th>
              </tr>
            </thead>
            <tbody>
            {% for key,value in price.DISPLAY.items %}
              <tr>
                <td><h4>{{key}}</h4></td>
                <td>><h4>{{ value.USD.PRICE}}</h4></td>
                <td><h4>{{ value.USD.HIGHDAY}}</h4></td>
                <td><h4>{{ value.USD.LOWDAY}}</h4></td>
                <td><h4>{{ value.USD.MKTCAP}}</h4></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>


        <br><br><br>
        <div class="container">
            <h1 class="text-center"><strong>LATEST CRYPTO CURRENCY NEWS</strong></h1>
        </div>
        <br>

          <div class ="container">
            <div class = "row ">
                {% for x in news.Data %}
                <div class="col-sm-4 article-cards">
                  <div class="card h-100" style="width: 20rem;">
                    <div class="card-header text-white bg-dark"style = "width:20rem;">
                      <h4>{{x.source}}</h4>
                    </div>
                    <img class="card-img-top" src="{{ x.imageurl }}" alt="{{x.source}}">
                        <div class="card-body text-white bg-dark ">
                          <h5 class="card-title">{{x.title}}</h5>
                          <a href="{{x.url}}" class="btn btn-secondary">Read More...</a>
                        </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>





    <!-- <ul>
      {% for x in news.Data %}
        <li>{{ x.title }}</li>
      {% endfor %}
  </ul> -->
 <!-- title is the key in the content, news is the key from context dict-->
 <!-- we only want that key -->


    <!-- {{ news.Data }} -->
    <!-- parsing API key from context dictionary -->
    <!-- recall that api content is an onject, therefore you can call on its attribute -->


{% endblock %}
